---
---

@import "modern-resume-theme";
    mark {
        padding: 2px 4px;
        font-size: 90%;
        color: #fff;
        background-color: #333;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
        margin: 2px;
    }
    
    center > mark {
        font-size: 2rem;
        margin-top: 10px;
    }

    table {
        border-collapse: collapse;
        font-feature-settings: "kern", "liga", "tnum";
        margin: 0.75rem 0;
        table-layout: fixed;
        width: 100%;
        font-size: 1.6rem;
    }

    th {
        border-bottom: 1px solid #a6a6a6;
        font-weight: 600;
        padding: 0.75rem 0;
        text-align: left
    }

    td {
        border-bottom: 1px solid #ddd;
        padding: 0.75rem 0;
        margin: 4px;
    }

    tr,
    td,
    th {
        vertical-align: middle
    }

    img {
        height: 400px;
        margin: 6px;
    }

    .button--version::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        z-index: -1;
        box-shadow: inset 0 0 0 35px #333;
        -webkit-transform: scale3d(0.9, 0.9, 1);
        transform: scale3d(0.9, 0.9, 1);
        -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
        transition: box-shadow 0.3s, transform 0.3s;
      }
      
      .button.button--version {
        width: 200px;
        margin-top: 6px;
        margin-bottom: 10px;
        justify-content: center; 
        align-items: center;
        text-align: center;
        height: 40px;
        border-radius: 20px;
        min-width: 0;
        padding: 0;
        color: #fff;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
      }
      
      .button--version:hover {
        color: #333;
      }
      
      .button--version:hover::before {
        box-shadow: inset 0 0 0 2px #333;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      
      .dark {
        .button--version::before {
          box-shadow: inset 0 0 0 35px #e6e6e6;
        }
      
        .button.button--version {
          color: #222;
        }
      
        .button--version:hover {
          color: #e6e6e6;
        }
      
        .button--version:hover::before {
          box-shadow: inset 0 0 0 2px #e6e6e6;
        }
      }

      .profile-img {
        width: 200px;
        height: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
        display: block;
        border-radius: 40px;
        background-size: cover;
        background-position: center;
        background-repeat: repeat, no-repeat;
        -moz-box-shadow: inset 0 0 20px #636161;
        -webkit-box-shadow: inset 0 0 20px #636161;
        box-shadow: inset 0 0 20px #636161;
      }
